In [39]:
import sys
import os
script_dir = os.getcwd() # coleata o diretorio do projeto atual
sys.path.append(script_dir)

In [40]:
import pandas as pd
import cv2

In [41]:
def load_data_base(local_base):

    data = []
    subdirectory_classes = [(directory.path, directory.name) for directory in os.scandir(local_base) if directory.is_dir()]
    for x in subdirectory_classes:  
        print(x)
    print(len(subdirectory_classes))

    for directory, label in subdirectory_classes:
        class_images = []
        files = os.listdir(directory)    

        for file in files:
            image_path = os.path.join(directory, file)
            image = cv2.imread(image_path)

            if image is not None:
                class_images.append((image, label))
            else:
                print(f"Erro ao carregar a imagem: {image_path}")
                
        data.append(class_images)

    return data

In [42]:
dir_base_img = script_dir + r'\data'
data_base = load_data_base(dir_base_img)

('c:\\Faculdade\\Repositorios\\Repositorio_Academico_Multidisciplinar\\Processamento_imagens\\aula04\\data\\airplane', 'airplane')
('c:\\Faculdade\\Repositorios\\Repositorio_Academico_Multidisciplinar\\Processamento_imagens\\aula04\\data\\car', 'car')
('c:\\Faculdade\\Repositorios\\Repositorio_Academico_Multidisciplinar\\Processamento_imagens\\aula04\\data\\cat', 'cat')
('c:\\Faculdade\\Repositorios\\Repositorio_Academico_Multidisciplinar\\Processamento_imagens\\aula04\\data\\dog', 'dog')
('c:\\Faculdade\\Repositorios\\Repositorio_Academico_Multidisciplinar\\Processamento_imagens\\aula04\\data\\flower', 'flower')
('c:\\Faculdade\\Repositorios\\Repositorio_Academico_Multidisciplinar\\Processamento_imagens\\aula04\\data\\fruit', 'fruit')
('c:\\Faculdade\\Repositorios\\Repositorio_Academico_Multidisciplinar\\Processamento_imagens\\aula04\\data\\motorbike', 'motorbike')
('c:\\Faculdade\\Repositorios\\Repositorio_Academico_Multidisciplinar\\Processamento_imagens\\aula04\\data\\person', 'person')
8

In [46]:
print(len(data_base[0]))

727

In [47]:
def contar_imagens_por_pasta(list_class):
    dados = []

    for class_type in list_class:
        classe = class_type[0][1]
       
        dados.append({'Classe': classe, 'Número de Imagens': len(class_type)})

    # Cria um DataFrame com os dados
    df = pd.DataFrame(dados)
    # Ordena o DataFrame pela classe
    df = df.sort_values(by='Classe').reset_index(drop=True)
    
    return df

In [48]:
contar_imagens_por_pasta(data_base)

      Classe  Número de Imagens
0   airplane                727
1        car                968
2        cat                885
3        dog                702
4     flower                843
5      fruit               1000
6  motorbike                788
7     person                986